<%= render "shared/flash" %>
<ul class='lists'>
  <% @list.notes.completed.each do |list| %>
    <li><%= link_to(list.title, list_path(list)) %></li>
  <% end %>
</ul>

<% content_for(:navigation) do %>
  <li><%= link_to "Archived", archived_list_path(@list) %></li>
  <li><%= link_to "Completed", completed_list_path(@list) %></li>
<% end %>