<h2><%= @list.title %></h2>

<% content_for(:navigation) do %>
  <%= link_to "Edit This List", edit_list_path(@list) %>
  <%= link_to "Delete This List", @list, method: :delete, data: { confirm: "Click 'OK' to remove." } %>
<% end %>