$color1: #FDFEFF;
$color2: #5D9BFF;
$color3: #B2821D;
$color4: #2F61B2;
$color5: #FFCA5D;

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  color: #000;
  text-shadow: 1px 1px 1px #000;
}

ul.errors {
  list-style-type: none;
  margin: 1rem;
  li {
    color: $color2;
  }
}

fieldset {
  display: inline-block;
}

legend {
  padding: 0 1rem 0.2rem 1rem;
  font-style: italic;
}

label {
  display: block;
  color: #fff;
  &::after {
    content: ': ';
  }
}

textarea,
input[type='text'] {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: unset;
  border: 1px solid #ccc;
  display: block;
  min-width: 300px;
  margin-bottom: 4px;
}

input[type='submit'] {
  border-radius: 4px;
  background: $color3;
  color: #fff;
  border: unset;
  padding: 0.5rem 1rem;
  &:hover {
    background: $color4;
    cursor: pointer;
  }
}

html, body {
  height: 100%;
}

body {
  background: $color1;
  font-size: 16px;
}

.wrap {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 2rem;
  nav {
    margin-bottom: 0.4rem;
    > a {
      text-decoration: none;
    }
    h1 {
      margin: 1rem 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: flex-end;
    }
    li {
      a {
        font-size: 1rem;
        text-decoration: none;
        border-bottom: 1px solid $color4;
        display: inline-block;
        margin: 0 1rem;
        &:hover {
          border-bottom: 1px solid $color3;
          color: $color3;
        }
      }
    }
  }
}