$color1: #78858F;
$color2: #E12C26;
$color3: #0F81DB;
$color4: #A5A831;
$color5: #8E8F75;

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

ul.errors {
  list-style-type: none;
  margin: 1rem;
  li {
    color: $color2;
  }
}

fieldset {
  display: inline-block;
}

legend {
  padding: 0 1rem 0.2rem 1rem;
  font-style: italic;
  color: #fff;
}

label {
  display: block;
  color: #fff;
  &::after {
    content: ': ';
  }
}

textarea,
input[type='text'] {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: unset;
  display: block;
  min-width: 300px;
  margin-bottom: 4px;
}

input[type='submit'] {
  border-radius: 4px;
  background: $color3;
  color: #fff;
  border: unset;
  padding: 0.5rem 1rem;
  &:hover {
    background: $color4;
    cursor: pointer;
  }
}

html, body {
  height: 100%;
}

body {
  background: $color1;
  font-size: 16px;
}

.wrap {
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 2rem;
  nav {
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-bottom: 2rem;
    h1 {
      display: inline-block;
      font-style: italic;
      padding-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 0;
      &::after {
        content: ' - ';
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      display: inline-block;
    }
    li {
      display: inline-block;
      a {
        padding: 0.5rem;
        background: $color2;
        color: #fff;
        margin-right: 0.5rem;
        text-decoration: none;
        border-radius: 2px;
        margin-bottom: 1rem;
        text-transform: uppercase;
        display: inline-block;
      }
    }
  }
}