ul.notes {
  list-style-type: none;
  margin-top: 10px;

  > li {
    border-top: 1px solid $color3;
    display: flex;
    margin-bottom: 20px;
    background: #e6e6e6;
    padding-top: 2px;
    justify-content: space-between;

    div {
      > * {
        padding: 2px 7px;
      }

      p {
        margin: 0;
      }
    }

    div:nth-child(1) {
      padding-top: 4px;
    }

    div:nth-child(2) {
      a {
        border-radius: 2px;
        background: $color2;
        color: #fff;
        text-align: center;
        font-size: 10px;
        text-decoration: none;

        &.archive,
        &.complete {
          background: $color4;
        }
      }
    }
  }
}
